## Ignore Visual Studio temporary files, build results, and
## user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# VS Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# DotCover
.idea/
*.dotCover

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.db
*.log
*.cache
*.tmp
